# Application
/public/wp-content/*
!public/wp-content/plugins/
!public/wp-content/themes/
!public/wp-content/uploads/.gitkeep

public/wp-content/plugins/*

public/wp-content/themes/*
!public/wp-content/themes/cosmobotsad

.env

# WordPress
public/wp

# Composer
/vendor
