# Application
/public/wp-content/*
!public/wp-content/advanced-cache.php
!public/wp-content/wp-cache-config.php
!public/wp-content/plugins/
!public/wp-content/themes/
!public/wp-content/uploads/

public/wp-content/plugins/*
!public/wp-content/plugins/.gitkeep

public/wp-content/themes/*
!public/wp-content/themes/cosmobotsad

public/wp-content/uploads/*
!public/wp-content/uploads/.gitkeep

.env

# WordPress
public/wp

# Composer
/vendor
